
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInbox</h1>


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
        <p> Reset Email Has Been Sent, Check Your  <a href="https://mail.google.com/mail/u/0/#inbox"> Email !!!</a></p>
	</div>
</div>