@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form action="SendEmail" method="post">
			<input class="text" type="text" asp-for="Email" placeholder="Username" required="">
	
			<input type="submit" value="Forget Passwords">
		</form>
	
	</div>
</div>