@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form action="ResetPassword" method="post">
			<input class="text" type="password" asp-for="NewPassword" placeholder="Username" required="">
			<input class="text" type="password" asp-for="ConfirmNewPassword" placeholder="Password" required="">
		
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
