@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/Delete_Details" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>


