@inject IDepartmentRepository DeptRep;

@model EmployeeView

@{
    // var depts = new SelectList( ViewData["Departments"] as IEnumerable<Department> ,"Id","Name");
    var depts = new SelectList(DeptRep.GetAll().Result, "Id", "Name");
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Age" class="control-label"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="HireDate" class="control-label"></label>
    <input asp-for="HireDate" class="form-control" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Salary" class="control-label"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
    </label>
</div>
<div class="form-group">
    <label asp-for="department" class="control-label"></label>
    <select asp-for="departmentId" class="form-control" asp-items="@depts">
        <option value="@null">-Select Department-</option>
    </select>
    <span asp-validation-for="departmentId" class="text-danger"></span>
</div>
<input type="hidden" asp-for="Id" />
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Image" class="control-label"></label>
    <input hidden asp-for="ImageName" />
    <input type="file" asp-for="Image" class="form-control" value="@Model?.ImageName" />
</div>
